#add_city
{
    margin-bottom: 2%;
    width: 57%;
}

#plus_icon
{
    display: inline-block;
    vertical-align: sub;
    color: blue;
}

#add_city_paragraph
{
    display: inline-block;
    margin-left: 2%;
    color: darkblue;
}