#main_city
{
    width: 60%;
    /* background-color: aqua; */
}

#alt_cities_search_localization
{
    width: 40%;
    /* background-color: red; */
    vertical-align: top; /* To make the "alternate city" divs always stay up. */
}

#alt_cities
{
    margin-top: 7%;
}

#search_localization
{
    margin-top: 16%;
}

#search
{
    margin-bottom: 10%;
}

#main_city_box
{
    margin-top: 0%;
    margin-bottom: 7%;
    margin-left: 0%;
    /* background-color: yellow; */
}

#main_city_data
{
    text-align: left;
    margin-left: 15%;
    margin-top: 5%;
    padding-bottom: 30%;
    width: 75%;
    height: 100%;
    /* background-color: green; */
    background-image: url("../images/mole_antonelliana.jpg");
    background-position: top;
    background-size: 100% 100%;
    border-radius: 5%;
}

.main_city_details
{
    color: white;
}