#search
{
    text-align: left;
}

#search-form
{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    gap: 0%;
    box-sizing: border-box;   
    width: 40%;
}

#search-input
{
    flex-grow: 4;
}

#search-submit
{
    background-image: linear-gradient(to bottom, #2759eb, #2571f1, #3886f4, #539af4, #71adf2);
    border-radius: 20%;
}